body {
    font-family: 'Mark Sans',sans-serif;
    /*em 15px */
    font-size: 15px;
}

 #top-info{
     background-color: blue;
     color: white;
 }

 .container{
     width: 1120px;
     margin: 0px auto;
 }

 .top-info{
     display: flex;
     justify-content: space-between;
 }

 .top-info-action a{
     padding: 17.5px 15px;
     display: inline-block;
     color: white;
     background:green;
     text-decoration: none;
     text-transform: uppercase;
     font-weight: 600;
     font-size: 0.9em;
 }

 .top-info-content{
     display: flex;
     justify-content: flex-start;
    align-items:center;
 }

 .top-info-content span{
     cursor: pointer;;
     transition:all .4s linear ;
 }

 .top-info-content span{
     margin-right:10px;
 }

 .top-info-content span:hover{
    color:blue;
 }