.bayraq{
    background-color:none;
    width:  250px;
    height: 120px;
}
.goy{
    width: 250px;
    height: 40px;
    background-color: blue;
}
.qirmizi{
    width: 250px;
    height: 40px;
    background-color:red;
}
.yasil{
    width: 250px;
    height:40px;
    background-color: green;
}